// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/* page layout */

.layout-header-contents {
    display: flex;
    align-items: center;
    max-width: 20rem;
}

header > div > p {
    font-size: small;
    margin-left: 2rem;
}

header {
    display: flex;
    padding: 1.5rem;
    background-color: lightsteelblue;
    justify-content: space-between;
}

header > h1 {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.75rem;
}

nav > ul {
    display: flex;
}

.navlink:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

ul {
    list-style: none;
}

nav > ul > li {
    margin-left: 2rem;
    list-style-position: inside;
}

#link-button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

#link-button:active {
    outline: none;
    border: none;
}

#link-button:focus {
    outline: 0;
}

#link-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #000000;
    cursor: pointer;
}

#link-button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

#link-button:active {
    outline: none;
    border: none;
}

#link-button:focus {
    outline: 0;
}

.active {
    color: red;
}

section {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.section-content-container {
    max-width: 48rem;
    margin: auto;
}

a {
    color: #000000;
}

// User table

.users-header-container {
    display: flex;
    justify-content: space-between;
}

.users-header-container > input {
    height: 2rem;
    width: 10rem;
    margin-right: 4rem;
    border-radius: 8px;
    margin-top: 1rem;
}
.users-header {
    margin-left: 3.8rem;
    margin-bottom: 1.5rem;
}

.table-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow-x: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
}

table {
    width: 40rem;
    text-align: center;
    margin: 0 auto;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td > a {
    text-decoration: none;
}

//pagination

.pagination {
    display: block;
    margin-left: 3.8rem;
    margin-bottom: 1.5rem;
}

.pagination > a {
    margin-left: 0.5rem;
    text-decoration: none;
}

.pagination > .link-span {
    margin-left: 0.5rem;
    color: #abaaaaf4;
}

// .navlink {
//     background: none !important;
//     border: none;
//     padding: 0 !important;
//     /*optional*/
//     font-family: arial, sans-serif;
//     /*input has OS specific font-family*/
//     color: #000000;
//     text-decoration: underline;
//     cursor: pointer;
// }
